/node_modules
newbastar.sql
Bastar Project New.postman_collection.json
build-flutter
flutterWeb 

        proxy_pass http://localhost:8180;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
